# =====================================================
# .env.example  —  copier vers .env et adapter
# Le vrai fichier .env NE DOIT JAMAIS être commité.
# =====================================================

# --- PostgreSQL ---
POSTGRES_USER=lab_admin
POSTGRES_PASSWORD=change_me_postgres
POSTGRES_DB=labo

# --- MongoDB ---
MONGO_USER=lab_admin
MONGO_PASSWORD=change_me_mongo
MONGO_DB=labo

# --- pgAdmin (UI Postgres) ---
[email protected]
PGADMIN_PASSWORD=change_me_pgadmin

# --- Mongo Express (UI Mongo) ---
MEX_USER=admin
MEX_PASSWORD=change_me_mex
